html, body {
    height: 100%;
}

body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: 400;
    line-height: $line-height-base;
    padding: 0;
    background: $body_bg;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin-left: 0;

    &.drawer-open-left {
        margin-left: 0;

        #page.drawers {
            padding-left: 0;
        }
        &#page-course-info {
            #page.drawers {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }

    @media (max-width: ($xl - 1)) {
        &.drawer-open-left #page.drawers {
            margin-left: 60px;
        }
        &:not(.uses-drawers).drawer-open-left {
            margin-left: 0;
        }
    }
    @media (min-width: $md) and (max-width: 1519px) {
        &.drawer-open-left #page.drawers.show-drawer-right {
            margin-left: 60px;
            #topofscroll {
                padding-right: $spacer !important;
            }
        }
    }

    &.notloggedin {
        margin: 0;
    }

    &.path-report,
    &.pagelayout-popup,
    &.pagelayout-embedded,
    &.pagelayout-report,
    &.path-blocks-configurable_reports {
        background: $white;

        #page-footer {
            padding-top: ($spacer * 2);
            border-top: 1px solid $border-color;
        }
    }

    &.pagelayout-secure {
        #page-footer {
            display: none;
        }
    }

    // Assignment grader needs margin-top set to 0
    &.pagelayout-embedded {
        #page {
            margin-top: 0 !important;
        }
    }

    &#page-login-index {
        #background_carousel {
            position: fixed;
            top: 0;
        }
        .col-md-12 {
            max-width: 72rem;
            margin: auto;
        }
        .logo {
            max-width: 100%;
            text-align: center;
            padding: ($spacer * 2);
            margin: 0 auto;
            background: $loginlogo_bg;
            border-radius: $card-border-radius;
            img {
                max-width: 100%;
                max-height: 100px;
                margin: 0 auto;
            }
            @media (min-width: $md) {
                max-width: calc(100% + 30px);
                margin: 0 -15px;
            }
        }
    }

    &#page-site-index {
        &.editing {
            #region-main {
                .actions,
                .sitetopic {
                    .action-menu,
                    .fa.icon-settings,
                    .section-modchooser-link {
                        padding: ($spacer / 4);
                        background: rgba(255,255,255,0.8);
                    }
                }
            }
        }
    }

    &.pagelayout-mydashboard {
        .orphan[data-flexitour="container"] {
            top: 0 !important;
            bottom: 0 !important;
            left: 0 !important;
            right: 0 !important;
            width: 350px;
            height: 350px;
            margin: auto;
            outline: 0;
        }
    }

    &.pagelayout-frontpage {
        .sitetopic,
        #region-page-top {
            margin-bottom: ($spacer * 1.5) !important;
        }
        .sitetopic {
            .frontpage .section {
                padding: 0 !important;
            }
        }
    }

    #region-main .mform:not(.unresponsive) .fitem {
        .fcheckbox > span {
            margin-top: 0;
        }
        .fradio > span {
            margin-top: 0;
        }
        .fgroup > span {
            margin-top: 0;
        }
    }

    a {
        color: $link-color;

        &:focus,
        &:hover {
            color: $link-hover-color;
        }
    }

    h1, .h1 {
        font-family: $headings-font-family;
        font-weight: 800;
    }

    h2, h3, h4, h5, h6,
    .h2, .h3, .h4, .h5, .h6 {
        font-weight: $headings-font-weight;
        line-height: 1.3;
    }

    @media (max-width: ($md - 1)) {
        margin: 0;
    }
    &:not(.uses-drawers):not(#page-site-index):not(#page-login-index):not(.pagelayout-course):not(#page-maintenance-message) {
        #page-content {
            #region-main-box {
                #region-main {
                    background: $white;
                    border-radius: $card-border-radius;
                    @media (max-width: ($md - 1)) {
                        padding: 0;
                    }
                }
            }
        }
    }
}

* {
  scrollbar-width: thick;
  scrollbar-color: $gray-500 $gray-200;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $gray-200;
}

*::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 20px;
  border: 3px solid $gray-200;
}

small, .small {
    font-size: 14px;
}

.text-info, .highlight {
    color: $primary !important;

    &.icon-question {
        font-weight: 600;
    }
}

.btn {
    &:not(.nav-link):not(.dropdown-toggle) {
        transition: 0.4s;
        &:hover {
            @include btn-shadow;
        }
        &.btn-link,
        &.drawertoggle,
        &.dropdown-toggle {
            &:hover {
                box-shadow: none;
            }
        }
        &.bulkEnable,
        &.bg-primary,
        &.btn-primary {
            color: set-primary-text-color($btn-primary-bg);
            background: $btn-primary-bg;
            border: $input-btn-border-width solid $btn-primary-border;

            &.text-primary {
                color: set-primary-text-color($btn-primary-bg) !important;
            }

            .icon {
                color: set-primary-text-color($btn-primary-bg);
            }

            &:hover {
                border-color: darken($btn-primary-bg, 10%);
                background-color: darken($btn-primary-bg, 10%);
                @include btn-shadow;
            }
        }
        &[type="submit"] {
            white-space: nowrap;
        }
    }
    &.bg-secondary,
    &.btn-secondary {
        border-width: $input-btn-border-width;
    }
    &.bg-secondary:not(disabled):not(.disabled),
    &.btn-secondary:not(disabled):not(.disabled) {
        color: set-primary-text-color($btn-secondary-bg);
        background: $btn-secondary-bg;
        border: $input-btn-border-width solid $btn-secondary-border;

        &.text-primary {
            color: set-primary-text-color($btn-secondary-bg) !important;
        }

        &.qnbutton {
            color: inherit;
            background: inherit;
            border-color: inherit;
        }

        .icon {
            color: set-primary-text-color($btn-secondary-bg);
        }

        &:hover {
            border-color: darken($btn-secondary-bg, 10%);
            background-color: darken($btn-secondary-bg, 10%);
            @include btn-shadow;
        }
    }
    &.btn-default:not(disabled):not(.disabled) {
        color: inherit;
        background: inherit;
        border-radius: $border-radius;

        &:hover {
            color: $white;
            @include btn-shadow;
        }
    }
    &.btn-default:not(disabled):not(.disabled),
    &.btn-primary:not(disabled):not(.disabled),
    &.btn-secondary:not(disabled):not(.disabled) {
        &[name="cancel"],
        &[data-action="cancel"],
        &[data-action="delete"] {
            color: $btn-disabled-color;
            background: $btn-disabled-bg;
            border: $input-btn-border-width solid $btn-disabled-border;
            &:hover {
                border-color: darken($btn-disabled-bg, 10%);
                background-color: darken($btn-disabled-bg, 10%);
                @include btn-shadow;
            }
        }
        &[data-action="viewgrid"],
        &[data-action="viewlist"],
        &.fp-vb-details,
        &.fp-vb-tree {
            margin-left: 5px;
        }
    }

    #page-header & {
        margin-bottom: $spacer / 2;

        &.btn-secondary {
            .icon {
                color: $body-color;
                margin: 0;
            }
        }
        &.rounded-circle {
            background: $white;
            transition: all .3s ease-in-out;

            &:hover {
                transform: scale(1.1);
                @include btn-shadow;
            }
        }
    }
}
.btn-group {
    [class*="btn-"],
    [class^="btn-"] {
        margin: 0 !important;
        &[class*="fp-vb-"],
        &[class^="fp-vb-"] {
            border-radius: inherit;
            &:first-child {
                border-top-left-radius: $btn-border-radius-sm;
                border-bottom-left-radius: $btn-border-radius-sm;
            }
            &:last-child {
                border-top-right-radius: $btn-border-radius-sm;
                border-bottom-right-radius: $btn-border-radius-sm;
            }
            &.checked {
                border-color: darken($btn-secondary-bg, 10%);
                background-color: darken($btn-secondary-bg, 10%);
            }
        }
    }
}
.btn-toolbar {
    .btn-group {
        .btn {
            &.btn-primary {
                img {
                    filter: set-icon-image-color($btn-primary-bg);
                }
            }
            &.btn-secondary {
                img {
                    filter: set-icon-image-color($btn-secondary-bg);
                }
            }
        }
    }
}

.label {
    @include label;

    &.label-alert {
        background-color: $primary;
    }
    &.label-warning {
        background-color: $warning;
    }
    &.label-success {
        background-color: $success;
    }
    &.label-info {
        background-color: $link-color;
    }
    &.label-danger {
        background-color: $danger;
    }

    &.label-default {
        color: set-primary-text-color($gray-500);
        background-color: $gray-500;
    }
}

.badge {
    &.bg-secondary {
        &.text-light, &.text-dark {
            color: set-primary-text-color($btn-secondary-bg) !important;
            background-color: $btn-secondary-bg !important;
        }
    }
}

.cell .singlebutton {
    margin-left: 3px;
    margin-right: 3px;
}

/**
*** General Layout
**/
#page-wrapper {
    min-height: 100%;
    align-items: stretch;
    @media (min-width: $md) {
        margin-left: $nav-drawer-closed;

        .notloggedin &,
        .pagelayout-login &,
        .drawer-open-left &,
        .pagelayout-popup &,
        .pagelayout-embedded & {
            margin-left: 0;
        }
    }
    .coursebg.pagelayout-course & {
        height: auto;
    }
}

#page {
    margin-top: calc(#{$navbar-height} + #{$navbar-border-height}) !important;
    padding-top: 0;
    padding-bottom: $navbar-height + $navbar-border-height;
    max-width: $max-page-width;
    flex-grow: 1;
    .local_envbar & {
        margin-top: calc(#{$navbar-height} + #{$navbar-border-height} + 25px) !important;
    }
    @media (min-width: $md) {
        padding-left: ($spacer * 2);
        padding-right: ($spacer * 2);

        .notloggedin &
        .pagelayout-login & {
            max-width: $max-page-width;
        }
    }

    @media (min-width: $max-page-width) {
        padding-left: $spacer;
        padding-right: $spacer;
    }

    &.drawers {
        max-width: inherit;
        padding-bottom: 0;
        height: auto !important;
        height: inherit !important;

        @media (min-width: $md) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        #topofscroll {
            @media (min-width: $md) {
                padding-left: ($spacer * 4);
                padding-right: ($spacer * 4);
            }
            @media (min-width: $max-page-width) {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &.show-drawer-left {
            #topofscroll {
                @media (min-width: $md) {
                    padding-left: $spacer;
                }
                @media (min-width: $max-page-width) {
                    padding-right: ($spacer * 3);
                }
            }
        }
        &.show-drawer-right {
            #topofscroll {
                @media (min-width: $md) {
                    padding-right: $spacer;
                }
                @media (min-width: $max-page-width) {
                    padding-left: ($spacer * 4);
                }
            }
        }
        &.show-drawer-left.show-drawer-right {
            #topofscroll {
                @media (min-width: $md) {
                    padding-left: $spacer;
                    padding-right: $spacer;
                }
            }
        }
        .drawer-open-left & {
            #topofscroll {
                @media (min-width: $md) {
                    padding-left: ($spacer * 4);
                    padding-right: ($spacer * 4);
                }
                @media (min-width: calc(#{$nav-drawer} + #{$max-page-width})) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            &.show-drawer-right {
                #topofscroll {
                    @media (min-width: $md) {
                        padding-left: ($spacer * 4);
                        padding-right: ($spacer * 3);
                    }
                    @media (min-width: calc(#{$nav-drawer} + #{$drawer-width} + #{$max-page-width})) {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }

        #user-notifications {
            max-width: calc(100% - 2rem);
            margin: auto;
        }

        #page-course-info & {
            #topofscroll {
                padding-top: 0;
            }
            @media (min-width: $md) and (max-width: 1519px) {
                #upper-content-wrapper {
                    .course-summary-details-wrapper {
                        .course-summary-details {
                            .course-summary-short-summary {
                                font-size: 110%;
                            }
                            .course-summary-summary-button {
                                padding: 0 4rem 0 0;
                                .enrolnow .btn {
                                    font-size: 14px;
                                }
                            }
                            .course-summary-icons {
                                padding-top: 1.5rem;
                            }
                        }
                    }
                    .course-summary-wrapper .course-summary-image-wrapper {
                        min-width: 200px;
                        .courseimage {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
                #page.show-drawer-left,
                #page.show-drawer-right {
                    #upper-content-wrapper {
                        .course-summary-details-wrapper {
                            .course-summary-short-summary {
                                flex: 0 0 70%;
                                max-width: 70%;
                            }
                            .course-summary-summary-button {
                                flex-basis: 100%;
                                max-width: 100%;
                                padding-top: $spacer;
                            }
                        }
                    }
                }
                body.drawer-open-left #page.drawers {
                    margin-left: 0;
                    #upper-content-wrapper {
                        .course-summary-details-wrapper {
                            .course-summary-summary-button {
                                flex-basis: 100%;
                                max-width: 100%;
                                padding-top: $spacer;
                            }
                        }
                    }
                }
            }
            @media (min-width: $md) and (max-width: ($lg - 1)) {
                #upper-content-wrapper {
                    .course-summary-details-wrapper {
                        .course-summary-details {
                            .course-summary-summary-button {
                                padding: 0 4rem;
                            }
                        }
                    }
                }
            }
        }
    }

    #page-login-index & {
        min-height: 70vh;
        padding: 0;
        margin-top: $spacer !important;
        background: transparent;
        background-image: none;
    }

    #page-site-index & {
        #page-header {
            margin-top: ($spacer * 1.5);
            h1 {
                display: none;
                margin: 0;
            }
        }
    }

    .pagelayout-popup & {
        padding: 0;
        max-width: 100%;
        #page-content {
            margin: 0;
            padding-bottom: 0 !important;
            #region-main {
                margin: 0 !important;
            }
        }
    }

    .pagelayout-embedded & {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .pagelayout-frontpage &,
    .pagelayout-mydashboard & {
        max-width: $max-page-width;

        #page-header {
            display: block;
            width: 100%;
            max-width: $max-page-width;
            padding: 0;
            margin: ($spacer * 2) auto 0;
            z-index: 100;

            h2 {
                font-weight: 800;
            }
        }
        #page-content {
            .col-12,
            #region-main-box {
                margin: 0 auto;
                max-width: $max-page-width;
            }
        }
    }

    .pagelayout-frontpage & {
        #page-header {
            margin-top: 0;
            .page-context-header,
            .header-actions-container {
                display: none;
            }
        }
    }

    #page-course-info & {
        #page-header {
            display: none;
            @media (max-width: ($md - 1)) {
                padding-bottom: 0 !important;
            }
        }
    }

    #topofscroll {
        max-width: $xl;
        padding: $spacer 0;
        margin-top: 0;
        margin-bottom: 0;
        background: transparent;

        #page-course-info & {
            max-width: 100%;
            #page-content {
                padding-bottom: 0 !important;
                #region-main {
                    padding: 0 !important;
                }
            }
        }

        @media (min-width: $xl) {
            max-width: 92%;

            .limitedwidth & {
                max-width: $xl;
            }
        }
        @media (max-width: ($md - 1)) {
            padding: $spacer;
        }
    }

    #page-header {
        max-width: $xl;
        width: 100%;
        margin: 0 auto;

        .uses-drawers &,
        .used-region-side-pre & {
            max-width: 100%;
        }

        .uses-drawers & {
            .col-12,
            &.header-maxwidth {
                padding: 0;
                margin-bottom: ($spacer * 1.5);
            }
        }
        .coursebg & {
            margin-bottom: $spacer;
        }

        &.header-maxwidth {
            @media (max-width: ($lg - 1)) {
                .d-flex {
                    flex-wrap: wrap;
                }
            }
        }

        .page-context-header {
            display: flex;
            align-items: center;
            overflow: inherit;
            padding: 0 0 ($spacer * 1);

            .page-header-image {
                .userinitials {
                    font-size: $h4-font-size;
                    font-weight: normal;
                    margin: 0;
                    background: transparent;
                }

                .pagelayout-course &,
                .pagelayout-incourse & {
                    border: none;
                }
            }
            .page-header-headings {
                background: transparent;
                .text-muted {
                    display: none;
                    opacity: .7;
                    color: set-primary-text-color($body-bg) !important;
                }
                h1 {
                    margin: 0;
                }
            }
            .header-button-group {
                a {
                    color: set-primary-text-color($body-bg);

                    &:focus,
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            #message-user-button {
                &:focus, &:hover {
                    box-shadow: none;
                }
            }
        }
        h1 {
            font-size: $h1-font-size;
            font-weight: 800;
            margin-bottom: $spacer;
        }
        .singlebutton {
            margin-top: ($spacer / 5);

            form {
                margin-bottom: 0;
            }
        }
        #page-navbar {
            padding: 0 !important;

            .breadcrumb {
                color: set-primary-text-color($body-bg);
                padding: 0;
                margin: 0;
                border: none;

                .breadcrumb-item {
                    font-size: .95rem;
                    padding: 0 ($spacer / 2) $spacer 0;

                    @media (max-width: ($md - 1)) {
                        display: none;
                    }
                }

                a {
                    &:focus,
                    &:hover {
                        color: set-primary-text-color($body-bg);
                    }
                }
            }
        }

        .pagelayout-mydashboard & {
            @media (max-width: ($md - 1)) {
                .flex-wrap .d-flex {

                    .singlebutton {
                        width: 100%;
                        margin: 0 auto ($spacer / 2);

                        .btn {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .header-actions-container {
            .simplesearchform {
                min-width: 15rem;
            }
            @media (max-width: ($lg - 1)) {
                width: 100%;
                .simplesearchform {
                    margin-right: .5rem;
                    .input-group {
                        flex-wrap: wrap;
                        width: 100%;
                    }
                }
            }
        }

        .page-context-header {
            margin-top: $spacer;
            .uses-drawers & {
                padding: 0;
            }
            .pagelayout-mydashboard & {
                margin-top: 0;
            }
            @media (min-width: $sm) and (max-width: ($md - 1)) {
                .coursebg & {
                    max-width: 100%;
                }
            }
        }
        .context-header-settings-menu {
            margin: 0;

            .pagelayout-frontpage & {
                margin-bottom: $spacer;
            }

            .path-user & {
                margin-top: $spacer * 2;

                @media screen and (max-width: ($md - 1)) {
                    margin-right: $spacer;
                }
            }

            .dropdown-toggle {
                display: block;
                color: set-primary-text-color($primary);
                padding: 5px 5px 4px 6px;
                border-radius: $border-radius;
                background: $primary;
                transition: 0.2s;

                > .icon {
                    font-size: $h4-font-size;
                    margin: 3px 0 0;
                }

                &:after {
                    margin-left: 0;
                }

                &:focus,
                &:hover {
                    cursor: pointer;
                    background: darken($primary, 10%);

                    .fa-fw {
                        color: $white;
                    }
                    &:after {
                        color: $white;
                    }
                }
            }
        }
        .coursebg & {
            .context-header-settings-menu {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        @media (min-width: $sm) and (max-width: ($md - 1)) {
            .context-header-settings-menu {
                display: block;
                right: 0 !important;
                top: 45px !important;

                a {
                    padding: 3px;

                    &:after {
                        margin-left: 0;
                    }
                }
            }
        }
        @media screen and (max-width: ($sm - 1)) {
            h1 {
                font-size: $h3-font-size;
                margin-top: $spacer;
            }
            .context-header-settings-menu {
                right: 0;

                .dropdown-toggle > .icon,
                .btn.btn-secondary .fa-fw {
                    font-size: 22px !important;
                }
            }
            .mr-auto {
                min-width: auto;
                max-width: 100%;
                .pagelayout-course & {
                    margin-top: 0;
                }
            }
            .coursebg & {
                .mr-auto {
                    padding-top: $spacer !important;
                    margin-top: 0;

                    h1 {
                        margin-top: 0;
                    }
                }
                .context-header-settings-menu {
                    top: 0;
                }
            }
        }
    }

    #page-content {
        #region-main-box {
            width: 100%;
            #region-main {
                padding: $spacer 0;
                margin: auto auto $spacer;
                border: none;
                background: $white;
                border-radius: 0 0 $card-border-radius $card-border-radius;

                #page-course-info & {
                    max-width: $xl;
                }

                .pagelayout-mydashboard & {
                    padding: 0;
                }

                .notloggedin &,
                #page-site-index &,
                #page-login-index & {
                    padding: 0;
                    background-color: transparent;

                    .box,
                    .sitetopic,
                    #site-news-forum,
                    #frontpage-course-list,
                    #frontpage-category-combo,
                    #frontpage-category-names,
                    #frontpage-available-course-list {
                        padding: $spacer;
                        background: $card-bg;
                        border-radius: $card-border-radius;
                        > h2 {
                            font-size: $h3-font-size;
                            margin-bottom: 1.5rem;
                        }
                    }
                    #frontpage-available-course-list {
                        margin-top: 0;
                    }
                }
                #page-maintenance-message & {
                    padding: ($spacer * 2);
                    background: $white;

                    .maintenance_message {
                        padding: 0;
                    }
                }

                .region_main_settings_menu_proxy {
                    background-color: transparent;
                }

                > .card {
                    min-height: $spacer;
                }

                .pagelayout-popup &,
                .pagelayout-embedded & {
                    padding: 0 !important;
                }
            }

            div[role="main"] {
                padding: 0 $spacer;
                .pagelayout-frontpage &,
                .pagelayout-mydashboard & {
                    padding: 0;
                }
            }
        }
        #page-login-index & {
            margin: 0;
        }
    }
    @media (max-width: ($md - 1)) {
        margin-top: ($navbar-height / 1.5) + $navbar-border-height;
    }
    @media (max-width: ($md - 1)) {
        margin-bottom: 0;

        #page-navbar {
            padding-top: 0 !important;

            .coursebg & {
                padding-top: $spacer !important;
            }
        }
        .page-context-header {
            .page-header-headings {
                margin: 0;
            }
        }
    }
}

/**
*** Cards (Generic).
**/

.card {
    &:not(.courses-card):not(.loginpanel):not(.node_category) {
        border-color: $border-color;
    }
    .dashboard-card {
        max-width: 300px;
    }

    #page-header & {
        background: transparent;

        .pagelayout-incourse &,
        .pagelayout-mydashboard & {
            .card-body {
                padding: 0;

                .page-context-header {
                    display: none;
                }
            }
        }
    }
}

/**
 * Cards (Decks).
 */

.card-grid,
.card-deck,
.card-carousel {
    &.one-row {
        margin-left: 0;
        margin-right: 0;
    }
    .card {
        &.course-card,
        &.courses-card {
            flex: 0;
            flex-basis: 100%;
            margin: 0 1% ($spacer * 1.5);
            border-color: $border-color;
            box-shadow: 0 0 7px rgba(0,0,0,0.17);
            .card-inner {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                min-height: 200px;
                .img-container, .card-body, .card-footer {
                    width: 100%;
                }
            }

            @media screen and (min-width: $sm) {
                flex-basis: 48%;
            }

            @media screen and (min-width: $lg) {
                flex-basis: 23%;
            }

            @media screen and (min-width: $max-page-width) {
                #side-pre &,
                #region-page-btm & {
                    flex-basis: 100%;
                    margin: 0;
                }
            }
        }
        .card-img-top {
            position: relative;
            border: none;
            height: 150px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            .media {
                position: absolute;
                top: 15%;
                right: 1%;
            }

            &:after {
                content: " ";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 150px;
                opacity: .45;
                border-radius: $card-border-radius;
                background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.45) 100%);
                background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.45) 100%);
                background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.45) 100%);
            }
        }
        .card-body {
            clear: both;
            padding: .6rem;

            &.course-info-container {
                color: $body-color;
            }

            h4.h5,
            .card-title {
                font-weight: 400;
                line-height: 1.3;

                a {
                    font-weight: 600;
                    color: $link-color;
                }
            }

            h3.card-title {
                font-size: $font-size-base;
            }

            p.text-muted {
                margin-bottom: 0;
            }

            ul.teachers {
                font-size: 14px;
                padding: 0;
                margin: 0;
                list-style-type: none;
            }
        }
        .card-footer {
            padding: 0;
            background: transparent;
            border: none;

            .btn-secondary {
                color: $white;
                padding: .7rem 1.5rem;
                background: $primary;
                border-color: $primary;

                &:focus,
                &:hover {
                    border-color: darken($btn-primary-bg, 10%);
                    background-color: darken($btn-primary-bg, 10%);
                }
            }

            &.course-card-footer {
                opacity: 1;
                padding: 0 0 ($spacer / 2);
                &.menu {
                    padding-bottom: 0;
                }
            }
        }
        &.coursedimmed {
            opacity: 0.6;
        }
        &.course-card {
            flex-basis: 48%;
            border: 1px solid rgba(0,0,0,.125);
            -webkit-box-shadow: 0 0 7px rgba(0,0,0,.17);
            box-shadow: 0 0 7px rgba(0,0,0,.17);
        }
        #block-region-side-pre & {
            &.courses-card,
            &.course-card {
                flex-basis: calc(100% - 1%) !important;
                max-width: calc(100% - 1%) !important;
                margin-bottom: $spacer;
            }
        }
        .summary-icons {
            display: flex;
            .btn {
                display: flex;
                flex-basis: 100%;
                justify-content: center;
                margin: 0;
                padding: .6rem 0;
                border: none;
                border-radius: 0;
                border-top: 1px solid $border-color;
                border-right: 1px solid $border-color;
                background: transparent;

                &:first-of-type {
                    border-bottom-left-radius: calc(#{$card-border-radius} - 2px);
                }

                &:last-of-type {
                    border-right: none;
                    border-bottom-right-radius: calc(#{$card-border-radius} - 2px);
                }

                .icon {
                    display: block;
                    font-size: 1.3rem;
                    color: $primary;
                    width: inherit;
                    height: inherit;
                    margin: 0;
                    padding: 0;
                    transition: .4s;
                }
                &:focus,
                &:hover {
                    border-color: transparent;
                    background: $primary;

                    .icon {
                        color: $white;
                    }
                }
            }
        }
    }
    .col,
    &:not(.card-grid) .course-card {
        margin: 0 .5% $spacer;
        @media (min-width: $sm) {
            flex-basis: 48%;
            max-width: 48%;
        }
        @media (min-width: $lg) {
            flex-basis: 32.3%;
            max-width: 32.3%;
        }
        @media (min-width: $max-page-width) {
            flex-basis: 24%;
            max-width: 24%;
        }
        body:not(.uses-drawers).drawer-open-left & {
            @media (min-width: $lg) {
                flex-basis: 48%;
                max-width: 48%;
            }
            @media (min-width: $max-page-width) {
                flex-basis: 24%;
                max-width: 24%;
            }
        }
        #block-region-side-pre & {
            flex-basis: 99%;
            max-width: 99%;
        }
    }
}
.card-carousel {
    .card.dashboard-card {
        margin: 0 1% $spacer;
    }
}
.text-primary {
    .fa-star {
        color: #ffc20e !important;
    }
}

/**
 * Progress bar.
 */
.progress {
    .progress-bar {
        background-color: $primary;
    }
    &.local-assessfreq-period-progress {
        margin-top: 5px;
    }
}
/**
 * Progress chart.
 */
.progress-chart-container {
    height: $progress-circle-size;
    width: $progress-circle-size;
    background: transparent;
    border-radius: 50%;
    #page-course-index-category & {
        display: none;
        &.show-progress-chart {
            display: block;
        }
    }

    .progress-doughnut {
        position: relative;
        height: $progress-circle-size;
        width: $progress-circle-size;
        background-clip: padding-box;
        background-color: rgba(255,255,255,.8);
        border: 5px solid $white;
        border-radius: 50%;
        box-shadow: 0 0 25px rgba(0,0,0,0.5);
        box-sizing: border-box;

        .progress-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $body-color;
            font-weight: 600;
            font-size: 1.1rem;

            &.has-percent {
                color: $body-color;
            }
        }
        .progress-indicator {
            position: absolute;
            top: -$spacer;
            left: -5px;
            height: $progress-circle-size;
            width: $progress-circle-size;

            .circular-chart {
                position: relative;
                height: 100%;
                width: 100%;
                display: block;
                margin: 10px auto;
                max-width: 100%;
                max-height: 250px;

                .progress-circle {
                    stroke: $primary;
                    fill: none;
                    stroke-width: 2.3;
                    stroke-linecap: round;
                    animation: progress 1s ease-out forwards;
                }
            }
        }
    }
    .no-progress {
        display: none;
        height: 100px;
        width: 100px;
        background-color: $white;
        border-radius: 50%;
        border: 10px solid $gray-200;
        position: relative;
        box-shadow: 0 0 25px rgba(0,0,0,0.5);

        .icon,
        .smallicon {
            position: absolute;
            top: 50%;
            left: 45%;
            margin: 0;
            padding: 0;
            transform: translate(-45%, -45%);
            color: darken($gray-200, 10%);
            height: 50px;
            width: 50px;
            font-size: 45px;
        }
    }
}

/**
*** Pop-ups, Modals and Dialogues.
**/
.modal-header {
    &.calendar_event_site,
    &.calendar_event_user,
    &.calendar_event_course,
    &.calendar_event_group,
    &.calendar_event_category {
        background-color: inherit;
    }
    .modal-title {
        font-size: $h5-font-size;
        color: $body-color;
        background-color: inherit;
    }
}
.moodle-dialogue-base {
    .moodle-dialogue-wrap {
        .moodle-dialogue-hd {
            &.yui3-widget-hd {
                font-size: $h5-font-size;
                color: $body-color;
                background-color: $gray-100;
            }
        }
    }
}
.loading-icon {
    .fa-spin {
        &:before {
            font-family: "FontAwesome" !important;
        }
    }
}

.forumpost {
    background: rgba(255,255,255,0.9);
}

#loadingmodal {
    .modal-dialog-centered {
        display: flex;
        align-items: center;
        min-height: calc(100% - 3.5rem);

        .modal-content {
            border-radius: $border-radius;
            border: 10px solid rgba($primary, .6);
            .modal-body {
                padding: 1.5
            }
        }
    }
    .waitloader,
    .waitloader:before,
    .waitloader:after {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        animation-fill-mode: both;
        animation: waitload7 1.8s infinite ease-in-out;
    }
    .waitloader {
        color: $primary;
        font-size: 15px;
        margin: 10px auto 60px;
        position: relative;
        text-indent: -9999em;
        transform: translateZ(0);
        animation-delay: -0.16s;
    }
    .waitloader:before,
    .waitloader:after {
        content: '';
        position: absolute;
        top: 0;
    }
    .waitloader:before {
        left: -3.5em;
        animation-delay: -0.32s;
    }
    .waitloader:after {
        left: 3.5em;
    }

}

@keyframes waitload7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/**
 * Pagination.
 */
.pagination {
    .page-item {
        .page-link {
            display: block;
            color: $primary;
            text-align: center;
            min-width: 36px;
            padding: 10px 12px;
            border-color: $primary;
        }
        &.active {
            opacity: 1;
            .page-link {
                font-weight: 600;
                color: set-primary-text-color($btn-primary-bg);
                background: $btn-primary-bg;
            }
        }
        &.disabled {
            opacity: .5;
        }
    }
}

/**
*** General Tabs
**/
.nav-tabs {
    border-color: $link-color;
    margin-bottom: ($spacer * 2);

    &#dynamictabs-tabs {
        padding-top: $spacer;
    }

    .nav-item {
        margin-right: 2px;
        margin-bottom: 0;
        background-color: darken($gray-100, 1%);
        border-radius: $border-radius $border-radius 0 0;

        &.nav-link {
            border-radius: $border-radius $border-radius 0 0;
            transition: 0.4s;

            &:focus,
            &:hover {
                color: set-primary-text-color($btn-primary-bg);
                border-bottom-color: $link-color;
                background-color: $link-color;
            }
        }
        &.show .nav-link,
        .nav-link.active {
            padding-bottom: 9px;
            margin-bottom: -1px;
            border-color: $link-color;
            border-bottom-color: $white;
            background-color: $white;

            &:focus,
            &:hover {
                color: inherit;
                background-color: $white;
                cursor: default;
            }
        }
        .dropdown-menu {
            border-top: none;
        }
    }
}

/**
*** Dropdowns
**/
.dropdown-menu {
    min-width: 15rem;
    .dropdown-item {
        display: flex;
        line-height: 1.4;
        padding: 0.3rem 1.3rem;
        white-space: normal;
        align-items: center;
        &.hidden {
            display: none;
        }
        &:active,
        &:hover,
        &:focus,
        &:focus-within {
            color: $body-color !important;
            text-decoration: underline;
            background-color: $gray-200;
        }
    }
}

.searchform {
    margin-bottom: ($spacer / 2);

    .form-control {
        display: inline-block;
        vertical-align: middle;
    }
    button {
        white-space: nowrap;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 1%;
        display: inline-block;
        vertical-align: middle;
    }

    @media (max-width: ($md - 1)) {
        button,
        .form-control {
            display: block;
            width: 100%;
            margin: 0 0 ($spacer / 2);
            max-width: inherit;
        }
    }
}

.userprofile {
    .profile_tree {
        section {
            &.node_category {
                border: none;

                .card-body {
                    padding: $spacer;
                }
            }
            h3 {
                font-size: $h5-font-size;
                font-weight: 400;
                margin-bottom:  $spacer - .25;
                border-bottom: 1px solid $border-color;
            }
        }
        .editprofile {
            display: inline-block;
            text-align: center;
            color: set-primary-text-color($btn-primary-bg);
            padding: 6px ($spacer * 3);
            margin: 0 auto $spacer;
            border-radius: $border-radius-lg;
            transition: 0.4s;
            background: $btn-primary-bg;
            border: $input-btn-border-width solid $btn-primary-border;
            span {
                display: block;
                text-align: center;
                a {
                    color: set-primary-text-color($btn-primary-bg);
                }
            }

            &:focus,
            &:hover {
                border-color: darken($btn-primary-bg, 10%);
                background-color: darken($btn-primary-bg, 10%);
            }
        }
    }
}

img.userpicture {
    margin: 0;
}
table {
    img.userpicture {
        margin-right: 10px;
    }
}
#questionscontainer {
    overflow: auto;
    margin: $spacer 0;
}
.img-responsive {
    max-width: 100%;
    &.atto_image_button_text-top,
    &.atto_image_button_text-bottom {
        margin-left: 0;
        margin-right: 0;
    }
}
.logo-right {
    #admin-hamburgerpos {
        display: none;
    }
}

.local_commander {
    .local_commander-body {
        .highlight {
            color: #333 !important;
        }
    }
}

.form-filemanager {
    .fp-content {
        border: 1px solid $border-color;
        background: $gray-100;

        .fp-thumbnail {
            background: $white;

            img {
                background: $gray-200;
            }
        }
    }
}

/**
 * Grade report.
 */

#page-mod-assign-grader {
    .icon {
        font-size: $spacer;
        margin-left: .2rem;
        margin-right: .2rem;
    }
    [data-region="grading-navigation"] {
        h4 {
            font-size: 1.3rem;
            font-weight: 600;
            line-height: 1.2;
        }
    }
}

#page-mod-assign-grader {
    #page {
        [data-region="assignment-info"] {
            font-size: .9rem;
        }
        [data-region="user-info"] {
            margin: auto;
        }
        [data-region="user-selector"] {
            .alignment {
                margin-top: 0;
            }
        }
        [data-region="grade-panel"] {
            padding: 0;
            background: $white;
            h3 {
                font-size: $h5-font-size;
                font-weight: 600;
                color: $headings-color;
            }
            .gradingform {
                padding: 0 !important;
            }
            fieldset {
                .ftoggler {
                    font-weight: 600;
                    padding: 0;
                }
                .fcontainer {
                    padding: 0;
                }
                &#id_gradeheader {
                    padding: 2rem 5%;
                    border-bottom: 2px solid $border-color;
                }
            }
            #fitem_id_advancedgrading {
                &.popout {
                    padding: 0;
                    .col-form-label {
                        padding: 1rem;
                    }
                    .flex-wrap {
                        padding: 1rem;
                    }
                }
            }
            #id_attemptsettings,
            .submissionstatustable {
                margin: 2rem 5% 0;
                .fitem:last-of-type .felement {
                    border: none;
                }
            }
            #id_attemptsettings {
                .fitem {
                    display: flex;
                    align-items: center;
                    padding: 0 0 $spacer;
                    border: none !important;
                    .fitemtitle {
                        margin: 0;
                        border: none;
                    }
                    @media (max-width: 1600px) {
                        flex-wrap: wrap;
                    }
                }
            }
            .submissionstatustable {
                h3 {
                    padding-bottom: 7.5px;
                    margin-bottom: $spacer;
                    border-bottom: 2px solid $border-color;
                }
                .submissionstatus,
                .submissionstatusdraft,
                .submissionstatussubmitted {
                    display: inline-flex;
                    align-items: center;
                    font-size: 14px;
                    height: 42px;
                    padding: 0 25px 0 25px;
                    margin: 0 0 $spacer;
                    border-radius: $border-radius-lg;
                    border: 1px solid $border-color;
                    background-color: $gray-200;
                    &:before {
                        font-family: "FontAwesome";
                        font-size: 16px;
                        font-weight: 600;
                        color: $body-color;
                        margin-left: 5px;
                        margin-right: 5px;
                        vertical-align: top;
                    }
                }
                .submissionstatusdraft {
                    padding-left: 10px;
                    border: 1px solid #f4ac2e;
                    background-color: #fcf2e0;
                    &:before {
                        font-weight: 400;
                        color: #f4ac2e;
                        content: "\f017";
                    }
                }
                .submissionstatussubmitted {
                    margin-bottom: 2rem;
                    padding-left: 10px;
                    border: 1px solid #a0c400;
                    background-color: #f1f7dc;
                    &:before {
                        color: #a0c400;
                        content: "\f00c";
                    }
                }
                .timeremaining,
                .submissiongraded,
                .submissionnotgraded {
                    margin: 0;
                    background: transparent;
                    &:before {
                        display: inline-block;
                        font-weight: 600;
                        color: $body-color;
                        content: "Marked Workflow State - ";
                        margin-right: 5px;
                    }
                }
                .timeremaining {
                    &:before {
                        content: "Deadline - ";
                    }
                }
                .assignsubmission_file {
                    font-size: .9rem;
                    padding: 0;
                    margin: $spacer 0;
                    border: none;
                    border-radius: $border-radius;
                    background-color: $gray-100;
                    .fileuploadsubmissiontime {
                        float: none;
                        font-size: .8rem;
                        font-style: italic;
                    }
                }
                .comment-area {
                    max-width: 100%;
                    font-size: .9rem;
                    textarea {
                        min-height: 100px;
                    }
                }
            }
            .col-form-label {
                font-weight: bold;
            }
        }
        .mform {
            .fitem {
                margin: 0 auto !important;
                padding: 1rem 0;
                border-radius: 0;
                border-top: 2px solid $border-color !important;

                &.fitem_feditor,
                &.fitem_fgrading {
                    border: none;
                }
                .felement {
                    padding: 0;
                }
                .fitemtitle {
                    label,
                    .fstaticlabel {
                        font-weight: 600;
                        padding: 0;
                    }
                }
                &.has-popout {
                    border: none;
                }
            }
            &:not(.unresponsive) {
                .fitem {
                    .fitemtitle {
                        padding: 0;
                        margin-bottom: $spacer;
                        border: none;
                        box-shadow: none;
                        label {
                            box-shadow: none;
                            border: none;
                            padding: 0;
                        }
                        &.fitem_fgrading .fitemtitle {
                            display: none;
                        }
                        &.fitem_feditor .felement {
                            padding: 0;
                        }
                    }
                }
            }
        }
        [data-region="attempt-chooser"] {
            display: block;
            margin: 0 5% 2rem;
        }
    }
    #rubric-advancedgrading {
        width: 100%;
        table#advancedgrading-criteria {
            width: 100%;
            flex-direction: column;
            tbody, .criterion {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                flex-basis: 100%;
                .fitemtitle {
                    padding: 0;
                    margin-bottom: $spacer;
                }
            }
            .criterion {
                padding-top: 1rem;
                padding-bottom: 0;
                margin-bottom: 1rem;
                border: none;
                border-top: 1px solid $border-color;
                .description {
                    font-weight: bold;
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: $spacer;
                    background: transparent;
                }
                .levels tr {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                .level {
                    max-width: 100%;
                    font-size: .95rem;
                    line-height: 1.5;
                    margin-bottom: 1rem;
                    border: none;
                    background: transparent !important;
                    .level-wrapper {
                        border: 1px solid #555;
                        padding: .5rem;
                        border: 1px solid $gray-500;
                        border-radius: $btn-border-radius;
                        height: 100%;
                    }
                    &.checked {
                        .level-wrapper {
                            color: set-primary-text-color($btn-primary-bg);
                            border-color: $btn-primary-border;
                            background: $btn-primary-bg;
                            .score {
                                color: set-primary-text-color($btn-primary-bg);
                            }
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        .level-wrapper {
                            box-shadow: 0 4px 4px rgba(0,0,0,0.25);
                        }
                    }
                }
                }
                .remark {
                    padding: 0;
                    background: transparent;
                    textarea {
                        min-width: 100%;
                        color: $body-color;
                        padding: .6rem;
                        border-color: $gray-500;
                        border-radius: $border-radius $border-radius 0 $border-radius;
                    }
                }
            }
        }
    }
}

.path-grade-report-grader {
    #region-main {
        h2 {
            font-size: $h4-font-size;
            margin-bottom: $spacer;
        }
        h3 {
            font-size: $h5-font-size;
            margin-bottom: 1.5rem;
        }
    }
    @media (min-width: $md) {
        .gradeparent {
            max-width: 100%;
        }
    }
}

.path-mod-assign {
    [data-region="grade-panel"].fullwidth,
    [data-region="review-panel"].collapsed + [data-region="grade-panel"] {
        [data-region="grade"] {
            max-width: 100%;
        }
    }
    #fitem_id_advancedgrading {
        &.popout {
            overflow: auto;
        }
        .criteria {
            td.description {
                width: 33%;
            }
        }
    }
}

/**
 * Block drawer.
 */
.drawer-left,
.drawer-right {
    @media (min-width: $md) {
        top: $navbar-height + $navbar-border-height;
        .local_envbar & {
            top: $navbar-height + $navbar-border-height + 50px;
        }
    }
}
.drawer-toggles {
    position: absolute;
    .drawer-toggler {
        z-index: 12;
        @media (min-width: $md) {
            top: calc(#{$navbar-height} + #{$navbar-border-height} + #{$spacer / 2});
            .local_envbar & {
                top: calc(#{$navbar-height} + #{$navbar-border-height} + #{$spacer * 4});
            }
        }
        .btn {
            box-shadow: 0 4px 9px rgba(0,0,0,.07);
            cursor: pointer;
            min-width: 45px;
            padding: 12px;
            border: 1px solid rgba(0,0,0,0.2);
            background: rgba(255, 255, 255, 1);
            transition:.2s;
            .icon {
                vertical-align: middle;
            }
            &:hover {
                min-width: 60px;
            }
        }
        &.drawer-left-toggle .btn {
            border-left: none;
            border-radius: 0 $border-radius $border-radius 0 !important;
            &:hover {
                padding-left: 20px;
            }
        }
        &.drawer-right-toggle .btn {
            border-right: none;
            border-radius: $border-radius 0 0 $border-radius !important;
            &:hover {
                padding-right: 20px;
            }
        }
    }
    @media (max-width: ($md - 1)) {
        #page-course-info & {
            .drawer-left-toggle,
            .drawer-right-toggle {
                top: calc(#{$navbar-height} + #{$navbar-border-height} + #{$spacer * 6});
            }
        }
    }
}
.drawerheader {
    height: 65px;
}

#page-content {
    .simplesearchform {
        width: 70%;
        min-width: 20rem;
        max-width: 70%;
        margin: 0 auto;
        form.simplesearchform {
            padding: 0;
            margin: auto;
            justify-content: center;
            .pagelayout-standard &,
            .pagelayout-mycourses &,
            .pagelayout-frontpage & {
                margin: 1.5rem auto;
            }
            .input-group {
                width: 100%;
                .btn.btn-primary {
                    width: 60px;
                }
                .search-icon {
                    padding: 6px 12px;
                }
            }
        }
        @media (max-width: ($md - 1)) {
            min-width: 100%;
            max-width: 100%;
            form.simplesearchform {
                .input-group {
                    flex-direction: column;
                    flex-wrap: wrap;
                    .input-group-append {
                        margin: 0;
                    }
                    input, .btn.btn-primary {
                        width: 100%;
                        margin: 0 0 .3rem;
                    }
                }
            }
        }
    }
}

.mod_quiz-edit-top-controls {
    #inputmaxgrade {
        min-width: 100px;
    }
}

.btn-footer-communication {
    display: none;
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    @include box-shadow($popover-box-shadow);
}

.stickyfooter {
    bottom: -100px;
    .hasstickyfooter & {
        bottom: 0;
    }
}

.hasstickyfooter .btn-footer-communication {
    bottom: calc(4rem + #{$stickyfooter-height});
}

#questionscontainer {
    #questionsubmit {
        margin-bottom: 2rem;
    }
}
