$white:  #ffffff;
$black:  #000000;
$red:  #db3448;
$teal:  #11b297;
$black_20:  rgba(0, 0, 0, 0.2);
$black_50:  rgba(0, 0, 0, 0.5);
$black_53_3:  rgba(0, 0, 0, 0.533);
$black_75:  rgba(0, 0, 0, .75);

$primary:  #20a2b7 !default;
$secondary:  #11b297 !default;

$gray-dark:  #373a3c !default;
$gray:  #55595c !default;
$gray-500: #8f959e !default;
$gray-600:  $gray !default;
$gray-light: $gray-500 !default;
$gray-lighter:  #eceeef !default;
$gray-lightest:  #f7f7f9 !default;
$gray-border:  #d7dfe3 !default;

$font-family-sans-serif: "Poppins", Arial, Helvetica, sans-serif !default;
$font-color: $gray-dark !default;

$line-height-base: 1.6 !default;

$border-radius: 2px !default;

$font-size-base: 1rem !default;
$h1-font-size:  2.7rem !default;
$h2-font-size:  2rem !default;
$h3-font-size:  1.8rem !default;
$h4-font-size:  1.5rem !default;
$h5-font-size:  1.2rem !default;
$h6-font-size:  1rem !default;
$h7-font-size:  $font-size-base !default;

$headings-font-family:  $font-family-sans-serif;
$headings-font-weight:  600;
$headings-color:  #323c4b !default;

$link-color: $primary !default;
$link-hover-color: $gray-dark !default;

$logo-light: invert(95%) sepia(100%) saturate(20%) hue-rotate(11deg) brightness(106%) contrast(104%);
$logo-dark: brightness(0) saturate(100%) invert(11%) sepia(50%) saturate(571%) hue-rotate(176deg) brightness(93%) contrast(88%);

$icon-light: brightness(0) invert(1);
$icon-dark: $font-color;

$border-color:  #dddddd !default;
$border-color-dark:  #cccccc !default;

$btn-primary-color:  $white !default;
$btn-primary-bg:  $primary !default;
$btn-primary-border:  $btn-primary-bg !default;
$btn-secondary-color:  $white !default;
$btn-secondary-bg:  $secondary !default;
$btn-secondary-border:  $btn-secondary-bg !default;
$btn-disabled-color:  $font-color;
$btn-disabled-bg:  $gray-border;
$btn-disabled-border:  $gray-border;

// Boost variables for changing btn padding.
// Uncomment to adjust paddings for btn and form-control classes.
//$input-btn-padding-y:         .375rem !default;
//$input-btn-padding-x:         .75rem !default;
$input-btn-border-width:  $border-radius !default;

$body_bg:  #e9ecef !default;

$loginlogo_bg: transparent !default;

$spacer: 1rem;
$title-pad: $spacer;

$card-border-radius:  $border-radius * 2;
$card-border-color:  $gray-border;

$navbar-height:  64px !default;
$navbar-bg-custom:  $white !default;
$navbar-bg-hover: $secondary !default;
$navbar-link-color: $primary !default;
$navbar-separator: #374850;
$navbar-border-height: 0px !default;
$navbar-border-color: $primary !default;
$navbar-primary-nav-active-border-color: darken($primary, 20%);

$logo-bg-color: transparent !default;

$nav-drawer:  285px;
$nav-drawer-bg: #1e2A3A !default;
$nav-drawer-closed:  60px;
$nav-drawer-text-color: $white !default;
$navdrawerlink: $secondary !default;

$footer-bg: $white !default;

$blocks-column-width: 340px !default;

$progress-circle-size: 100px;

$success: #6fba25;

$xs:  480px;
$sm:  576px;
$md:  768px;
$lg:  992px;
$xl:  1280px;
$xxl: 1800px;

$max-page-width:  1530px;
