{{#participants_url}}
    <a class="btn btn-secondary btn-sm link-participants" href="{{{participants_url}}}">
        {{#pix}} i/cohort, core, {{#str}} participants {{/str}} {{/pix}}
    </a>
{{/participants_url}}
{{#grades_url}}
    <a class="btn btn-secondary btn-sm link-grades" href="{{{grades_url}}}">
        {{#pix}} i/grades, core, {{#str}} grades {{/str}} {{/pix}}
    </a>
{{/grades_url}}
{{#badges_url}}
    <a class="btn btn-secondary btn-sm link-badges" href="{{{badges_url}}}">
        {{#pix}} i/badge, core, {{#str}} badges {{/str}} {{/pix}}
    </a>
{{/badges_url}}
{{#forums_url}}
    <a class="btn btn-secondary btn-sm link-forums" href="{{{forums_url}}}">
        {{#pix}} t/messages, core, {{#str}} forum, forum {{/str}} {{/pix}}
    </a>
{{/forums_url}}
{{#settings_alt_url}}
    <a class="btn btn-secondary btn-sm link-settings-alt" href="{{{settings_alt_url}}}">
        {{#pix}} t/editinline, core, {{#str}} editon, theme_uonbi {{/str}} {{/pix}}
    </a>
{{/settings_alt_url}}
{{#settings_url}}
    <a class="btn btn-secondary btn-sm link-settings" href="{{{settings_url}}}">
        {{#pix}} a/setting, core, {{#str}} settings {{/str}} {{/pix}}
    </a>
{{/settings_url}}
{{#course_url}}
    <a class="btn btn-secondary btn-sm link-course" href="{{{course_url}}}">
        {{#pix}} t/right, core, {{#str}} entercourse {{/str}} {{/pix}}
    </a>
{{/course_url}}